* {
    box-sizing: border-box;
}


.my-tasks-label {
    display: flex;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.main-task-list {
    margin: auto;
    width: 80%;
}

.tasks-list-output {
    display: flex;
    margin-top: 1vh;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 20px;
    color: #2f2f2f;
    background-color: #ffffff;
    border: #65656b;
    border: solid 1px;
    min-height: 65px;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    border-radius: 13px;
}

.tasks-list-output a {
    margin-left: 15vh;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    padding: 15px 20px;
    color: #2f2f2f;
    /*font-family: 'Montserrat', sans-serif;*/
}

.tasks-list-output a:hover {
    text-decoration: underline;
}

.taskList-end-date {
    margin-right: 15vh;
}

.task-page-information {
    margin-top: 3vh;
    margin-left: 15vh;
    display: inline-block;
    /*font-family: Manuale, sans-serif;*/
    font-style: normal;
    font-weight: normal;
    width: 80%;
}

.task-page-information-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.inf-page-hr-2 {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.inf-page-hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 1vh;
}

.task-page-information-status {
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 20px;
}

.task-page-information-status-current {
    background-color: #2c5060;
    border-radius: 13px;
    color: white;
    padding: 1vh;
    margin-bottom: 1vh;

}

.task-page-information-select {
    margin-left: 2vh;
    margin-top: 2vh;
    border: none;
    font-size: 18px;
}

.task-page-information-description {
    width: 70%;
    height: 15vh;
    border-radius: 13px;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 2vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    background-color: #ffffff;
    border: #65656b;
    border: solid 1px;
    text-indent: 5vh;
    font-size: 18px;
    text-align: justify;
}

.task-page-information-reporter {
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: #353535;
    font-size: 18px;
}

.task-page-information-EndDate {
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: #2b2b2b;
    font-size: 18px;
}

.task-page-information-answer-field {
    width: 70%;
    height: 15vh;
    background-color: #ffffff;
    border: #65656b;
    border: solid 1px;
    border-radius: 13px;
    padding-top: 2vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-indent: 5vh;
    font-size: 16px;
    color: #292929;
    text-align: justify;
}

.task-page-information-answer-field-input-text {
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 1vh;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px;
}

.task-page-information-answer-field-input-submit {
    height: 5.5vh;
    width: 17vh;
    border: none;
    margin-left: 2vh;
    padding-right: 2vh;
    font-size: 16px;
    color: #eaeaea;
    background-color: #2c5060;
    border-radius: 10px;
}

.task-page-information-status-input-submit {
    height: 4vh;
    width: 16vh;
    border: none;
    margin-left: 2vh;
    font-size: 16px;
    color: #eaeaea;
    background-color: #2c5060;
    border-radius: 10px;
}

.task-page-information-comments-blocks {
    width: 70%;
    height: 7vh;
    background-color: #ffffff;
    border: #65656b;
    border: solid 1px;
    border-radius: 13px;
    padding-top: 2vh;
    padding-bottom: 3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-indent: 5vh;
    font-size: 18px;
    text-align: justify;
}

.commentsList-send-date {
    margin-top: 1vh;
    color: #3e3e3e;
    font-size: 15px;
    margin-bottom: 3vh;
}

.commentsList-empty {
    margin-top: 1vh;
    color: #3c3c3c;
    font-size: 15px;
    margin-bottom: 3vh;
}

.task-page-information-comments-label {
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: #3e3e3e;
    font-size: 18px;
}

.simple-main-menu{
    display: flex;
    width: 70%;
    padding-top: 15vh;
    margin-left: 25vh;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 20px;
    color: #2f2f2f;
    min-height: 65px;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
}

.create-task-button-from-menu {
    margin-right: 5vh;
}

.simple-main-menu-create-task {
    text-decoration: none;
    padding: 2vh 6vh;
    border: none;
    margin-right: 5vh;
    font-size: 16px;
    color: #eaeaea;
    background-color: #2c5060;
    border-radius: 13px;
}
.simple-main-menu-create-task a:hover {
    text-decoration: underline;
    background-color: #65656b;
}

.task-creation-desc {
    width: 80%;
    height: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 1vh;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px;
}

.date-time-form {
    width: 30vh;
    height: 5vh;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.task-creation-labels {
    font-size: 20px;
}

.delete-task-button {
   display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.main-link {
    text-decoration: none;
    color: white;
}