<#import "base.ftlh" as base>
<#import "parts/taskListOutput.ftl" as taskList>

<@base.base>
    <!-- Top container -->
    <@base.top_container title="Edu Netcracker"/>
        <!-- Sidebar/menu -->
    <@base.menu_user active="/tasks"/>
    <!-- !PAGE CONTENT! -->
    <@base.page_content>
        <div class="task-page-information">
            <label class="task-page-information-label"> ${task.getName()} </label>
            <hr class="inf-page-hr-2">
            <div class="task-page-information-status">
                Статус:
                <label class="task-page-information-status-current">
                    ${status.getName()}
                </label>
                <br>
                <form method="post" role="form">
                    Изменить статус на:
                    <td>
                        <select class="task-page-information-select" id="statusId" name="statusId">
                            <#list statusList as statuses>
                            <option value="${statuses.id}"> ${statuses.name}</option>
                            </#list>
                        </select>
                    </td>
                    <input type="submit" value="Сохранить" class="task-page-information-status-input-submit" />
                </form>
            </div>
            <hr class="inf-page-hr">
            <#if role>
                <div class="task-page-information-groups">
                    Раздать задачу:
                    <form action="/tasks/${task.id}/groups" role="form" method="post">
                        <td>
                            <select class="task-page-information-select" id="groupId" name="groupId">
                                <#list groups as group>
                                    <option value="${group.id}"> ${group.name}</option>
                                </#list>
                            </select>
                        </td>
                        <input type="submit"  value="Сохранить" class="task-page-information-status-input-submit" />
                    </form>
                </div>
            </#if>
            Компонента: ${componentDTO.getName()}
            <div class="task-page-information-description">
                    ${task.getDescription()}
            </div>
            <div class="task-page-information-reporter">
                <#if !delete>
                    Отправитель: ${creator.firstName} ${creator.lastName}
                </#if>
            </div>
            <div class="task-page-information-EndDate">
                Выполнить до ${task.getDate()}
            </div>
            <div class="task-page-information-answer-field">
                Ответ:
                <#if task.getFilePath()?? >
                    ${task.getFilePath()}
                </#if>
                <form role="form" method="post">
                    <input name="filePath" type="text" placeholder="Введите ответ здесь" class="task-page-information-answer-field-input-text">
                    <input type="submit" value="Отправить" class="task-page-information-answer-field-input-submit" />
                </form>
            </div>
            <div class="task-page-information-comments">
                <div class="task-page-information-comments-label"> Комментарии </div>
                <#list senders as sender>
                    Отправитель: ${sender.senderName}
                    <div class="task-page-information-comments-blocks">
                            ${sender.text}
                    </div>
                    <div class="commentsList-send-date"> Отправлено ${sender.getSendLocalDate()} </div>
                <#else>
                    <div class="commentsList-empty"> Пусто </div>
                </#list>
                Написать комментарий
                <form action="${task.id}/comment" role="form" name="send_comment" method="post">
                    <input name="comment" type="text" placeholder="Комментарий..." class="task-page-information-answer-field-input-text">
                    <input type="submit" value="Отправить" class="task-page-information-answer-field-input-submit" />
                </form>
            </div>
            <#if delete>
                <div class="delete-task-button">
                    <form action="${task.id}/delete" role="form" method="post">
                        <input type="submit" value="Удалить задачу " class="task-page-information-answer-field-input-submit" />
                    </form>
                </div>
            </#if>
        </div>
    </@base.page_content>
</@base.base>
